img.izquierda {
    float: left;
}

img.derecha {
    float: right;
}

img.centro {
    float: center;
}

p.p1 {
    background-color: #DDDDDD;
    height: 150px;
    left: 50px;
    position: relative;
    top: -50px;
    width: 150px;
  }

text.textoderecha {
    float: right;
}




hr {
    clear: both;
  }
  
  
  