body {
    left: 30px;
    width: auto;
    top: 5px;
    bottom: 15px;
}

img.izquierda {
    float: left;
}

img.derecha {
    float: right;
}

img.centro {
    float: center;
}

p.p1 {
    background-color: #DDDDDD;
    height: 150px;
    left: 50px;
    position: relative;
    top: -50px;
    width: 150px;
  }

text.textoderecha {
    float: right;
}

hr {
    clear: both;
    border: none;
  }
  
  div.bordecito {
    border: 5px red solid;
    position: relative;
    width: fit-content;
    padding: 5px;
  }
  
footer.abajo {
    position: fixed;
    left: 525px;
    right: 525px;
    bottom: 5px;
    text-align: center;
    border: green 5px solid;
}

div.footerwa {
    text-align: center;
    border: green 10px solid;
    position: relative;
    width: fit-content;
}

@font-face {
    font-family: Doom;
    src: url(/Fuentes/doom/AmazDooMLeft.ttf);
}

p.doom {
    font-family: Doom;
    font-size: 300%;
    text-shadow: 0px 0px 2px red;
}