body {
    left: 5px;
    width: auto;
    position: relative;
    top: 5px;
    bottom: 15px;
}

h1.cosa {
    color: white;
    background-color: red;
    width: fit-content;
    padding: 5px;
}

div.imagenes {
    background-image: url(../../multicosas/diosa-bocchi.gif);
    background-size: contain;
    padding: 1em;
    text-shadow: black 0px 0px 5px;
    color: white;
}

html {
    background: linear-gradient(rgb(200,100,50),aquamarine );
}