h1.titulo {
    background-color: blue;
    color: red;
    width: fit-content;
}

body {
    background-image: url("media/html-color-codes-color-tutorials-hero.jpg");
    background-size: cover;
    width: auto;
    left: 30px;
}

img.bajo {
    position: absolute;
    top: -105px;
    right: 0px;
    width: 300px;
    border: 5px black solid;
}
footer.abajo {
    position: fixed;
    left: 30px;
    right: 30px;
    bottom: 10px;
}
div.wa {
    border: 5px black solid;
    background-color: white; padding: 5px;
}

